header ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
   
}
.container-fluid{
    background-color: antiquewhite;
    width: 70%;
    height: 80%;
}

header img{
    height: 140px;
    width: 100px;
}
header ul{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.qr{
    height: 100px;
    width: 100px;
}
span{
    color: red;
}
h1{
    color: red;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
h2,h3{
    text-align: center;
    color: rgb(26, 0, 155);
    font-family: 'Times New Roman', Times, serif;
}
.row{
    text-align: center;
    border: 1px solid rgb(14, 0, 66);
}
h5{
    color:  rgb(14, 0, 66);
}
img{
    border-radius: 6px;
}
body{
    margin: 200px 50px;
}
.container-fluid{
    padding: 40px;
    border: 2px solid  rgb(14, 0, 66);
}
table{
    width: 100%;
    border: 2px solid  rgb(14, 0, 66);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(254, 218, 175);
}
td{
    border: 2px solid  rgb(14, 0, 66);;
    padding: 20px;
    color: brown;
}
th{
    border: 2px solid  rgb(14, 0, 66);
    padding: 20px;
    border-left:0cap;
}
table span{
    width: 100%;
}
.table1{
    margin-top: 10px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    
}

input{
    border: none;
    width: 60px;
    background-color:  rgb(254, 218, 175);
    border: none;
}
.foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 0px 10px;
}

